{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<!-- Site Title  -->
	<title>FAQs</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="{% static 'css/vendor.bundle.css' %}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	
</head>

<body class="theme-light is-smooth-effect" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">

		<!-- Place Particle Js -->
		<div id="particles-js" class="particles-container particles-js"></div>

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="index.html">
					<img class="logo logo-dark" alt="logo" src="{% static 'images/blockcred-logo-dark.png' %}">
					<img class="logo logo-light" alt="logo" src="{% static 'images/blockcred-logo-white.png' %}">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="#intro">What is?<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#features">Features</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#how">How?</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#philosophy">Our Philosophy</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#why">Why?</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
						<li class="nav-item active"><a class="nav-link menu-link" href="#faqs">FAQs</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
                    <ul class="navbar-nav navbar-btns">
						<li class="nav-item"><a class="btn btn-sm" href="#">Proof of Concept</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">FAQs</h2>
						</div>
					</div>
					<div class="page-head-image">
						<img src="{% static 'images/page-head-image-a.png' %}" alt="page-head">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->

    <!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt" id="faqs">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Frequently asked questions
							<span>FAQS</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch using the contact form below.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="tab-custom">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay="0">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2">Pre-ICO &amp; ICO</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3">Tokens</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-4">CLIENT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-5">Legal</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content animated" data-animate="fadeInUp" data-delay=".1">
							<div class="tab-pane fade show active" id="tab-1">
								<div class="accordion" id="accordion-1">
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-1-1">
													What is ICO Crypto?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
												  What cryptocurrencies can I use to purchase?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
												  How can I participate in the ICO Token sale?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
												  How do I benefit from the ICO Token?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-2">
								<div class="accordion" id="accordion-2">
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-2-1">
												  Which of us ever undertakes laborious?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
													Who do not know how to pursue rationally?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
												   Their separate existence is a myth?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
												  Pityful a rethoric question ran over her cheek?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-3">
								<div class="accordion" id="accordion-3">
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-3-1">
													When she reached the first hills?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-3-2">
												  Big Oxmox advised her not to do?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-3-3">
												  Which roasted parts of sentences fly into your mouth?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-3-4">
												  Vokalia and Consonantia, there live?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-4">
								<div class="accordion" id="accordion-4">
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-4-1">
													Who formed us in his own image?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-4-2">
												  While the lovely valley teems with vapour?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-4-3">
												  Which was created for the bliss of souls like mine?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-4-4">
												  Wonderful serenity has taken of my entire soul?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-4-4" class="collapse" data-parent="#accordion-4">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-5">
								<div class="accordion" id="accordion-5">
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-5-1">
													Illustrated magazine and housed in a nice?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-5-1" class="collapse show" data-parent="#accordion-5">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-5-2">
												  Samsa was a travelling salesman and above it there?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-5-2" class="collapse" data-parent="#accordion-5">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-5-3">
												  Slightly domed and divided by arches?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-5-3" class="collapse" data-parent="#accordion-5">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-5-4">
												  One morning, when Gregor Samsa?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-5-4" class="collapse" data-parent="#accordion-5">
											<div class="card-body">
												<p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
											</div>
										</div>
									</div>
								</div><!-- End accordion -->
							</div><!-- End tab-pane -->
						</div><!-- End tab-content -->
					</div><!-- End tab-custom -->
				</div><!-- End col -->
			</div><!-- End row -->
		</div><!-- End container -->
	</div>
	<!-- End Section -->
    
    <!-- Start Section -->
	<div class="section subscribe-section section-pad-md section-bg section-connect">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md animated" data-animate="fadeInUp" data-delay="0">Don't miss out, Stay updated</h4>
					<form id="subscribe-form" action="form/subscribe.php" method="post" class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" >
						<input type="text" class="d-none" name="form-anti-honeypot" value="">
						<a href="#team-profile-1" class="btn btn-plane expand-trigger content-popup">Subscribe</a>
						<div class="subscribe-results"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fa fa-twitter"></em></a></li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fa fa-telegram"></em></a></li>
					</ul>
					<span class="copyright-text animated" data-animate="fadeInUp" data-delay=".3">
						Copyright &copy; 2018, Blockcred. Developend By <a href="http://intelli-coders.com" target="_blank">Intelli Coders</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->
    
    <div id="team-profile-1" class="team-profile mfp-hide">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <div class="text-center">
            <img src="{% static 'images/success-icon.png' %}" alt="">
            <p>
                We have received your message and would like to thank you for writing to us. We will reply by email as soon as possible.
            </p>
        </div>
    </div><!-- .team-profile  -->
    
	<!-- Preloader !remove please if you do not want -->
	<div id="preloader">
		<div id="loader"></div>
		<div class="loader-section loader-top"></div>
   		<div class="loader-section loader-bottom"></div>
	</div>
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="{% static 'js/jquery.bundle.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
