{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="BlockCred is a revolutionary Blockchain protocol focused on creating leading digital credential delivery, offering exceptional power and scalability to academic certifications, corporate compliances, awarding bodies, supply chain management, and professional associations who seek to transform their recognition, certifications or credentials to the new era of the Blockchain.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<!-- Site Title  -->
	<title>Blockcred - Your Credentials On Top Of Blockchain</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="{% static 'css/vendor.bundle.css' %}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	
</head>

<body class="theme-light is-smooth-effect" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">

		<!-- Place Particle Js -->
		<div id="particles-js" class="particles-container particles-js"></div>

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="{% url 'home' %}">
					<img class="logo logo-dark" alt="logo" src="{% static 'images/blockcred-logo-dark.png' %}">
					<img class="logo logo-light" alt="logo" src="{% static 'images/blockcred-logo-white.png' %}">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#intro">What is?<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#features">Features</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#how">How?</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#philosophy">Our Philosophy</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#why">Why?</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#roadmap">Roadmap</a></li>
						<li class="nav-item active"><a class="nav-link menu-link" href="{% url 'faq' %}">FAQs</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="{% url 'home' %}#contact">Contact</a></li>
					</ul>
                    <ul class="navbar-nav navbar-btns">
						<li class="nav-item"><a class="btn btn-sm" href="{% url 'issue-cert' %}">Proof of Concept</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">FAQs</h2>
						</div>
					</div>
					<div class="page-head-image">
						<img src="{% static 'images/page-head-image-a.png' %}" alt="page-head">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->

    <!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt" id="faqs">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Frequently asked questions
							<span>FAQS</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Below, we have provided a sample of questions that you may ask about Blockcred, if you didn’t find what you need here, please don’t hesitate to send us your question and one of our representatives will answer you shortly.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="tab-custom">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay="0">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2">Mining</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3">XBC</a>
							</li>
							
						</ul>
						<!-- Tab panes -->
						<div class="tab-content animated" data-animate="fadeInUp" data-delay=".1">
							<div class="tab-pane fade show active" id="tab-1">
								<div class="accordion" id="accordion-1">
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-1-1">
													What is Blockcred?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
											<div class="card-body">
												<p>Blockcred is a public, mineable blockchain. It can also be seen as an open-source protocol for the public blockchains, which offers a rich set of features including extensive configurability, rapid deployment, native assets, and data streams.
													<br>You can publish your data in key-value pair format on our blockchain.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
												  How is Blockcred different from traditional storage systems?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
											<div class="card-body">
												<p>Since Blockcred is a public blockchain, it consists of several decentralized nodes which verify each and every transaction while adding new blocks into the blockchain. Each node participates in administration: all nodes verify new additions to the blockchain, and are capable of entering new data into the blockchain. Traditional databases allow the modification of data, but with the Blockcred blockchain the data is secured and cannot be tampered with, altered, or modified once published and confirmed in the Blockcred blockchain ledger.</p>
											</div>
										</div>
									</div>
									
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
												  How does Blockcred work?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
											<div class="card-body">
												<p>Blockcred allows the user to upload data (in key-value pair format) onto the blockchain with ease and in a single XBC transaction. Users can upload multiple entries in the form of key-value pairs, but it has to be one pair per transaction. Blockcred is a public blockchain, and it also allows users to retrieve their uploaded data by the use of a key. The cost of data upload is calculated as per the data size and awarded to the miners in the form of XBC.</p>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-2-1">
												  What are the blockchain specifications for Blockcred?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
											<div class="card-body">
												<p>The Blockcred specifications are as follows:<br>
													•	Avg. Block Size: 250 bytes<br>
													•	Max Block Size: 8 MB<br>
													•	Avg. Block Frequency: 15 seconds<br>
													•	Mining Algorithm: PoW<br>
													•	Mining Reward: 10 XRK<br>
													•	Max Transaction Size: 4 MB<br>
													•	Max OP_RETURN Transaction Size: 2 MB<br></p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-2">
								<div class="accordion" id="accordion-2">
									
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
													 Can I mine XBC?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
											<div class="card-body">
												<p>Yes. Anyone can become a miner with Blockcred. You need to download the needed mining software, and then you can start mining. You can follow the mining guide that will be available once we open the mining for the crowed.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
												   What are the minimum H/W requirements for XBC mining?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
											<div class="card-body">
												<p>Anyone with a personal laptop/computer can begin mining for XBC. The minimum system requirements are as follows:<br>
													•	Linux: 64-bit, supports Ubuntu 12.04+, CentOS 6.2+, Debian 7+, Fedora 15+, RHEL 6.2+.<br>
													•	Windows: 64-bit, supports Windows 7, 8, 10, Server 2008 or later.<br>
													•	Mac: 64-bit, supports OS X 10.12 (we hope to support earlier versions soon).<br>
													•	1 MB of RAM<br>
													•	5 GB of disk space<br></p>
											</div>
										</div>
									</div>
									
								</div>
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-3">
								<div class="accordion" id="accordion-3">

									<div class="card">
										<div class="card-header">
											<h5>
												<a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
												  What is XBC?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
											<div class="card-body">
												<p>XBC is the name (or ticker) of the tokens which are used as an incentive and payment model for issuing a certificate onto the Blockcred blockchain. XBC tokens are used as a gas for issuing a certificate over the Blockcred blockchain.</p>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<h5>
												<a data-toggle="collapse" data-target="#collapse-3-1">
													What is the value of XBC?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
												</a>
											</h5>
										</div>
										<div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
											<div class="card-body">
												<p>Will be determined at the time of launching the beta version of Blockcred and enabling the mining process for the crowd.</p>
											</div>
										</div>
									</div>									
									
									
								</div>
							</div><!-- End tab-pane -->
<!-- End tab-pane -->
						</div><!-- End tab-content -->
					</div><!-- End tab-custom -->
				</div><!-- End col -->
			</div><!-- End row -->
		</div><!-- End container -->
	</div>
	<!-- End Section -->
    
    <!-- Start Section -->
	<div class="section subscribe-section section-pad-md section-bg section-connect">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md animated" data-animate="fadeInUp" data-delay="0">Don't miss out, Stay updated</h4>		
					<div class = "subscribe_form">
                       <!--p>Sign up for our newsletter to get latest updates</p-->
                            <form id = "subscribe" form method = 'POST' class="subscription-form inline-form">{% csrf_token %}
                               <input id = "email_id" type = "email" name = "email_id" placeholder="your@email.com" class="input-round required email">
                               <button type="submit" value = "Subscribe" class="btn btn-plane expand-trigger">Subscribe</button>
                              </form>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="https://twitter.com/blockcred"><em class="fa fa-twitter"></em></a></li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="https://t.me/joinchat/IRHN2EjnCavHHKreWshr1Q"><em class="fa fa-telegram"></em></a></li>
					</ul>
					<span class="copyright-text animated" data-animate="fadeInUp" data-delay=".3">
						Copyright &copy; 2018, Blockcred. Developend By <a href="http://intelli-coders.com" target="_blank">Intelli Coders</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->
    
    <div id="team-profile-1" class="team-profile mfp-hide">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <div class="text-center">
            <img src="{% static 'images/success-icon.png' %}" alt="">
            <p>
                We have received your message and would like to thank you for writing to us. We will reply by email as soon as possible.
            </p>
        </div>
    </div><!-- .team-profile  -->
    
	<!-- Preloader !remove please if you do not want -->
	<div id="preloader">
		<div id="loader"></div>
		<div class="loader-section loader-top"></div>
   		<div class="loader-section loader-bottom"></div>
	</div>
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="{% static 'js/jquery.bundle.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" >
	$('#subscribe').submit(function(e){
      e.preventDefault();
      var email_id = $("#email_id").val();
      if(email_id){
        var csrfmiddlewaretoken = csrftoken;
        var email_data = {"email_id": email_id, 
                          "csrfmiddlewaretoken" : csrfmiddlewaretoken};
        $.ajax({
          type : 'POST',
          url :  '/subscribe/',
          data : email_data,
          success : function(response){
            $('#email_id').val(''); 
            if(response.status == "404"){
              alert("This Email is already been subscribed!");
            }
            else{
              alert("Thank you for Subscribing! Please Check your Email to Confirm the Subscription");
            }
          },
          error: function(response) {
            alert("Sorry Something went Wrong");
            $('#email_id').val(''); 
          }
        });
        return false;
      }
      else{
        alert("Please provide correct email!");
      }
  });
 

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})
</script>

</body>
</html>
