{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>                        
        <title>Blockcred - Your Credentials On Top Of Blockchain</title>            
        
        <!-- META SECTION -->
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        
        <link rel="stylesheet" href="{% static 'css/wallet.css' %}">
        
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>        
        
        <!-- APP WRAPPER -->
        <div class="app">           

            <!-- START APP CONTAINER -->
            <div class="app-container">
                <!-- START SIDEBAR -->
                <div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left" data-type="close-other">
                    <a href="home.html" class="app-navigation-logo">
                        Blockcred - Your Credentials On Top Of Blockchain
                    </a>
                    
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}"><span class="fa fa-home"></span> Home</a>
                            </li>
                            <li>
                                <a href="{% url 'wallet-landing' %}" class="active"><span class="fa fa-money"></span> Wallet</a>
                            </li>
                            <li>
                                <a href="{% url 'issue-cert' %}"><span class="fa fa-plus"></span> Issue Credential</a>
                            </li>
                            <li>
                                <a href="{% url 'verify-cert' %}"><span class="fa fa-check"></span> Verify Credential</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- END SIDEBAR -->
                
                <!-- START APP CONTENT -->
                <div class="app-content app-sidebar-left">
                    <!-- START APP HEADER -->
                    <div class="app-header app-header-design-default">
                        <ul class="app-header-buttons">
                            <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                            <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
                        </ul>    
                    </div>
                    <!-- END APP HEADER  -->
                    
                    <!-- START PAGE HEADING -->
                    
                    <div class="app-heading-container app-heading-bordered bottom">
                        <div class="app-heading app-heading-bordered app-heading-page">  
                            <div class="icon icon-lg">
                                <span class="fa fa-money"></span>
                            </div>
                            <div class="title">
                                <h1>Wallet</h1>
                                <p>Wallet managment.</p>
                            </div>
                            <!--
                            <div class="heading-elements">
                                <a href="#" class="btn btn-danger" id="page-like"><span class="app-spinner loading"></span> loading...</a>
                                <a href="https://themeforest.net/item/boooya-revolution-admin-template/17227946?ref=aqvatarius&license=regular&open_purchase_for_item_id=17227946" class="btn btn-success btn-icon-fixed"><span class="icon-text">$24</span> Purchase</a>
                            </div>
                            -->
                        </div>
                    </div>
                    <!-- END PAGE HEADING -->
                    
                    <!-- START PAGE CONTAINER -->
                    <div class="container">
                        <div class="block pas text-center wallet">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <p>If you are a new user, please click on the Create XBC wallet, if you already have a wallet and want to login then click Login to XBC wallet.</p>
                                    
                                    <div class="alert alert-danger alert-icon-block alert-dismissible text-left" role="alert"> 
                                        <div class="alert-icon">
                                            <span class="icon-menu-circle"></span> 
                                        </div>                                        
                                        <strong>Notice:</strong> This page uses javascript to generate your addresses and sign your transactions within your browser, this means we never receive your private keys.
                                    </div>
                                    <a href="{% url 'create' %}" class="btn btn-primary margin-left-10 margin-top-10"><i class="fa fa-plus margin-right-10"></i>Create XBC wallet</a>
                                    <a href="{% url 'login' %}" class="btn btn-primary margin-left-10 margin-top-10"><i class="fa fa-undo margin-right-10"></i>Login to XBC wallet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTAINER -->
                    
                </div>
                <!-- END APP CONTENT -->
                                
            </div>
            <!-- END APP CONTAINER -->
                        
            <!-- START APP FOOTER -->
            <div class="app-footer app-footer-default" id="footer">
                <div class="app-footer-line">
                    <div class="copyright">&copy; 2018 Blockcred. All right reserved</div>
                </div>
            </div>
            <!-- END APP FOOTER -->
            
            <!-- END MODAL PRIMARY -->
            
        </div>        
        <!-- END APP WRAPPER -->                
        
        <!-- IMPORTANT SCRIPTS -->
         <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-migrate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/moment/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <!-- THIS PAGE SCRIPTS -->
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/vendor/rickshaw/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/rickshaw/rickshaw.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form-validator/jquery.form-validator.min.js' %}"></script>
        <!-- END THIS PAGE SCRIPTS -->
        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app_plugins.js' %}"></script>
        <!-- END APP SCRIPTS -->
        <script type="text/javascript" src="{% static 'js/app_demo_dashboard.js' %}"></script>

        
        
        <script type="text/javascript">
            $(function(){
                $.validate({
                    modules : 'date,file,location',
                    onValidate: function(){

                        delayBeforeFire(function(){                                                
                            app.spy();
                        },100);

                    }
                });
                $(".block-refresh-example").on("click",function(){
                    var block = $(this).data("block");
                    app.block.loading.start("#"+block);
                    setTimeout(function(){
                        app.block.loading.finish("#"+block);
                    },3000);
                });
            });
        </script>

    </body>
</html>