{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div>
        <form  action='' method="POST">
        {% csrf_token %}
           student_name:  <input type="text" name="student_name"><br>
           student_email:  <input type="text" name="student_email"><br>
          mobile:  <input type="text" name="mobile"><br>
           course_name: <input type="text" name="course_name"><br>
            grade: <input type="text" name="grade"><br>
            department: <input type="text" name="department"><br>
             <br>   <button type="submit" >Issue Certificate</button>
             </form>
        </div>

       
    </body>
</html>