<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
    <head>                        
        <title>Blockcred - Your Credentials On Top Of Blockchain</title>            
        
        <!-- META SECTION -->
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
         <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        {{ sname }}<br>
        {{ cname }}<br>
        {{ dep }}<br>

    </body>        